{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Task Type List
    <br>
    <a href="{% url 'hub:task_type-create' %}" class="btn btn-primary link-to-page">
      Add
    </a>
  </h1>
  <br>
  <form action="" method="get" class="form-inline">
    {{ search_form|crispy }}&nbsp;&nbsp;
    <input type="submit" value="🔎" class="btn btn-secondary">
  </form><br>
  {% if task_type_list %}
    <table class="table">
      <tr>
        <th>Name</th>
        <th></th>
        <th></th>
      </tr>

      {% for task_type in task_type_list %}
        <tr>
          <td>
              {{ task_type.name }}
          </td>
          <td>
            <a href="{% url "hub:task_type-update" pk=task_type.id %}">UPDATE</a>
          </td>
          <td>
            <a href="{% url "hub:task_type-delete" pk=task_type.id %}">DELETE</a>
          </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
      <p>There are no task types!</p>
  {% endif %}
{% endblock %}
