{% extends 'layouts/base_sections.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block title %} TASK FLOW {% endblock title %}

{% block body %} class="index-page bg-gray-200" {% endblock body %}

{% block content %}

<header class="header-1">
  <div class="page-header min-vh-20 relative" style="background-image: url('{% static 'img/curved-images/curved.jpg' %}')">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 text-center mx-auto">
            <br><br><br><br><br><br>
        </div>
      </div>
    </div>

    <div class="position-absolute w-100 z-index-1 bottom-0">
      <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
          <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="moving-waves">
          <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40" />
          <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)" />
          <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)" />
          <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)" />
          <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)" />
          <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,0.95" />
        </g>
      </svg>
    </div>
  </div>
</header>

  <div style="padding: 30px">
    <h1>
      Worker: {{ worker.username }}
      <div style="float: right">
        <a href="{% url 'hub:worker-update' pk=worker.id %}" class="btn btn-primary link-to-page">
          Update
        </a>
        <a href="{% url 'hub:worker-delete' pk=worker.id %}" class="btn btn-danger link-to-page">
          Delete
        </a>
      </div>
    </h1>
    <br>
    <p><strong>Full name:</strong> {{ worker.first_name }} {{ worker.last_name }}</p>
    <p><strong>Position:</strong> {{ worker.position }}</p>
    <p><strong>Email:</strong> <a class="text-primary text-gradient font-weight-bold" href="mailto:{{ worker.email }}">{{ worker.email }}</a></p>
    <br>
    <div class="ml-3">
      <table style="width: 40vw; float: left" >
        <tr>
          <th>{{ incompleted_tasks.count }} ongoing tasks:</th>
        </tr>
        {% for task in incompleted_tasks %}
          <tr>
            <td>
              <p>
                <strong>Name: </strong><a class="text-primary text-gradient font-weight-bold" href="{% url "hub:task-detail" pk=task.id %}">{{ task.name }}</a><br>
                <strong>Deadline:</strong> {{ task.deadline|date:"l, d.m.Y" }}<br>
                <strong>Priority:</strong>
                {% if task.get_priority_display == "Urgent" %}
                  <span style="color: red;">{{ task.get_priority_display }}</span>
                  {% else %}
                  {{ task.get_priority_display }}
                {% endif %}
              </p>
            </td>
          </tr>
        {% endfor %}
      </table>
      <table style="width: 40vw; float: left" >
        <tr>
          <th>{{ completed_tasks.count }} completed tasks:</th>
        </tr>
        {% for task in completed_tasks %}
          <tr><td>
            <p>✅ <a class="text-primary text-gradient font-weight-bold" href="{% url "hub:task-detail" pk=task.id %}">{{ task.name }}</a></p>
          </td></tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}
