{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Worker List
  </h1>
  <br>
  <form action="" method="get" class="form-inline">
    {{ search_form|crispy }}&nbsp;&nbsp;
    <input type="submit" value="🔎" class="btn btn-secondary">
  </form><br>
  {% if worker_list %}
    <table class="table">
      <tr>
        <th>Username</th>
        <th>Full Name</th>
        <th>Position</th>
      </tr>

      {% for worker in worker_list %}
        <tr>
          {% if user == worker %}
            <td><strong><a href="{% url "hub:worker-detail" pk=worker.id %}">{{ worker.username }} (Me)</a></strong></td>
            {% else %}
            <td><a href="{% url "hub:worker-detail" pk=worker.id %}">{{ worker.username }}</a></td>
          {% endif %}
          <td>{{ worker.first_name }} {{ worker.last_name }}</td>
          <td>{{ worker.position }}</td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
      <p>There are no workers!</p>
  {% endif %}
{% endblock %}
